# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# Videos
*.mp4
*.webm
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.m4v

# Track hero videos
!public/1786617107481119.mov
!public/School_dlws.mp4

